<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>:: Start</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="styles/base.css">
	<link rel="stylesheet" href="styles/skeleton.css">
	<link rel="stylesheet" href="styles/layout.css">
    <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/nivo-slider.css" type="text/css" media="screen" />
    <link type="text/css" href="styles/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles/layout.css">
	<style scoped>video {
  width: 100%    !important;
  height: auto   !important;
}
.unsupported {
            background: #fddfde;
          }
</style>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body id="notStart" class="faqbg">



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->
	<div class="header">
        <div class="container">
            <div class="sixteen columns">
                    <a href="index.html" class="logo"><img src="images/logo.png" width="56" height="25" alt="Start"></a>
                    <p class="ph-no">For Sales Call For A Chat: 1800 234 4271</p>
                    <!--navigation start-->
                    <div class="nav-cont">
                    
                        <ul>
                            <li><a href="features.html" class="nav1">Features</a></li>
                            <li><a href="pricing.html" class="nav2">Pricing</a></li>
                            <li class="active"><a href="faq.html" class="nav3">FAQ</a></li>
                        </ul>
                        
                    </div>
                    <!--navigation end-->
                    <!--<br class="spacer" />-->
                </div>
        </div>
    </div>
    <div class="container">
    <div id="responsiveNavi">
                                    	FAQ
                                    	<span>&nbsp;</span>
      </div>
    <select id="menu-primary" class="select-menu" style="z-index: 10; opacity: 0; -webkit-appearance: none; ">
                           					 
                        <option value="index.html" >Home</option>
                        <option value="features.html" >Features</option>
                        <option value="pricing.html">Pricing</option>
                        <option value="faq.html" selected="selected">FAQ</option>
                                                
                        </select>
    </div>
	<div class="container paddingTop">
        <div class="sixteen columns" id="fourthHeight">
        	<h2>Quickly Add Tabbed Sections For Details Your Customers Crave</h2>
            <div class="four columns remove-left lmar">
            	<div class="quick_cont">
                <h4>QUICK START GUIDE</h4>
                    <ul>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Create Profile</a></li>
                        <li><a href="#">Invite Others</a></li>
                        <li><a href="#">Earn Points</a></li>
                        <li><a href="#">Join Affiliates</a></li>
                        <li><a href="#">Connect with Partners</a></li>
                    </ul>
                </div>
                <span class="quick_contBot">&nbsp;</span>
                <a href="#" class="button3">Get Started</a>
            </div>
            <div class="twelve columns nomar paddingBot">
            	<!-- Accordion -->
		<div id="accordion">
			<div class="first-tab">
				<h3 class="right-gap"><a href="#">Control Centre</a></h3>
				<div>
                	<ul>
               	    	<li>
                        <div class="four columns alpha lmar image-cont">
                   	    	<img src="images/image01.gif" alt="" class="scale-with-grid">
                        </div>
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio eu justo pellentesque aliquet et vel odio. Ut non ligula risus. </p>
                      </li>
                     	<li>
                        <div class="four columns alpha lmar image-cont">
                   	    	<img src="images/image01.gif" alt="" class="scale-with-grid">
                        </div>
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio eu justo pellentesque aliquet et vel odio. Ut non ligula risus. </p>
                      </li>
                      	<li>
                        <div class="four columns alpha lmar image-cont">
                   	    	<img src="images/image01.gif" alt="" class="scale-with-grid">
                        </div>
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio eu justo pellentesque aliquet et vel odio. Ut non ligula risus. </p>
                      </li>
                    </ul>
                </div>
			</div>
			<div>
				<h3 class="left-gap"><a href="#">Service & Support</a></h3>
				<div class="second-tab">
                	<ul>
               	    	<li>
                        <div class="four columns alpha lmar image-cont">
                   	    	<img src="images/image01.gif" alt="" class="scale-with-grid">
                        </div>
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio eu justo pellentesque aliquet et vel odio. Ut non ligula risus. </p>
                      </li>
                     	<li>
                        <div class="four columns alpha lmar image-cont">
                   	    	<img src="images/image01.gif" alt="" class="scale-with-grid">
                        </div>
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio eu justo pellentesque aliquet et vel odio. Ut non ligula risus. </p>
                      </li>
                      	<li>
                        <div class="four columns alpha lmar image-cont">
                   	    	<img src="images/image01.gif" alt="" class="scale-with-grid">
                        </div>
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio eu justo pellentesque aliquet et vel odio. Ut non ligula risus. </p>

                      </li>
                    </ul>
                </div>
			</div>
			
		</div>
            
            
            
            
            	<div class="grey-box">
                	<h2>Start today with your own successful landing page to promote your products</h2>
                    <a href="#" class="button2">Get Started</a>
                </div>
            </div>
        </div>
        
       
        
	</div><!-- container -->
    <!--footer start-->
    <div class="footer-cont">
    	<div class="container">
            <div class="sixteen columns">
                
                	<!--about cont start-->
                    <div class="six columns omega footerLine">
                    	<h2>About Start</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio eu justo pellentesque aliquet et vel odio. Ut non ligula risus.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio eu justo pellentesque aliquet et vel odio. </p>
                    </div>
                    <!--about cont end-->
                    <!--company start-->
                    <div class="two columns company-cont leftPafFooter alpha footerLine">
                    	<h2>Company</h2>
                        <ul>
                        	<li><a href="#">Lorem ips</a></li>
                        	<li><a href="#">Lorem ipsum</a></li>
                        	<li><a href="#">Dolor sit amet </a></li>
                        	<li><a href="#">Sit amet,</a></li>
                        </ul>
                    </div>
                    <!--company end-->
                	<!--support start-->
                    <div class="two columns company-cont leftPafFooter alpha footerLine">
                    	<h2>Support</h2>
                        <ul>
                        	<li><a href="#">Lorem ips</a></li>
                        	<li><a href="#">Lorem ipsum</a></li>
                        	<li><a href="#">Dolor sit amet </a></li>
                        	<li><a href="#">Sit amet,</a></li>
                        </ul>
                    </div>
                    <!--support end-->
                    <!--links start-->
                    <div class="two columns company-cont leftPafFooter omega ">
                    	<h2>Links</h2>
                        <ul>
                        	<li><a href="#">Lorem ips</a></li>
                        	<li><a href="#">Lorem ipsum</a></li>
                        	<li><a href="#">Dolor sit amet </a></li>
                        	<li><a href="#">Sit amet,</a></li>
                        </ul>
                    </div>
                    <!--links end-->
                    <br class="spacer" />
              		<ul  class="footer-link">
                    	<li><a href="#">Privacy</a>|</li>
                    	<li><a href="#">Cookies</a>|</li>
                    	<li><a href="#">Terms & Conditions</a></li>
                        <li>© 2012 Start Landing. All rights reserved. </li>
                    </ul>
                    
                    <ul class="footer-thumb">
                    	<li><a href="#"><img src="images/you-tubs-icons.png" width="40" height="40" alt=""></a></li>
                    	<li><a href="#"><img src="images/face-books-icon.png" width="40" height="40" alt=""></a></li>
                    	<li><a href="#"><img src="images/twitter-icon.png" width="40" height="40" alt=""></a></li>
                    	<li><a href="#"><img src="images/in-icon.png" width="40" height="40" alt=""></a></li>
                    	<li><a href="#"><img src="images/rss-icon.png" width="40" height="40" alt=""></a></li>
                    </ul>
                    
                    <p class="backToTop">Top of page</p>
             </div>
    	</div>
    </div>
    <!--footer end-->
   <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
      <script src="js/jquery.fitvids.js"></script>

  <!-- Optional FlexSlider Additions -->

  <script defer src="js/general.js"></script>
  
  <script type="text/javascript" src="js/jquery-ui-1.8.23.custom.min.js"></script>
 
        <script type="text/javascript" src="js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
		$('#slider').nivoSlider({
    		controlNavThumbs:true
		});
	});
</script>
</body>
</html>