<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>:: Start</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="styles/base.css">
	<link rel="stylesheet" href="styles/skeleton.css">
	<link rel="stylesheet" href="styles/layout.css">
    <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="styles/nivo-slider.css" type="text/css" media="screen" />
    <link type="text/css" href="styles/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles/layout.css">
	<style scoped>video {
  width: 100%    !important;
  height: auto   !important;
}
.unsupported {
            background: #fddfde;
          }
</style>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

	
	<div class="header">
        <div class="container">
            <div class="sixteen columns">
                   <a href="index.html" class="logo"><img src="images/logo.png" width="284" height="50" alt="Start"></a>
                    <!--navigation start-->
                    <div class="nav-cont">
                        <ul>
                            <li><a href="#" class="nav1">Features</a></li>
                            <li><a href="#" class="nav2">Pricing</a></li>
                            <li><a href="#" class="nav3">FAQ</a></li>
                        </ul>
                    </div>
                    <!--navigation end-->
                    <!--<br class="spacer" />-->
                </div>
        </div>
    </div>
	<div class="container">
        <div class="sixteen columns" id="firstHeight">
        	<h1 class="block-title">A Complete, <strong> Solid, Reliable</strong> Software To Help Your <strong>Business Grow</strong></h1>
            <div class="body-top-outer">
            	<div class="body-top">
            	<!--slider start-->
            <div class="ten columns remove-left slider lmar slider-wrapper theme-default  big-cont">
                <div  id="slider" class="nivoSlider">
                	
                    	<img src="http://www.imagineear.com/wp-content/uploads/2018/11/template-news-item-thumbnail-580x365-2.jpg" data-thumb="http://www.imagineear.com/wp-content/uploads/2018/11/template-news-item-thumbnail-580x365-2.jpg"   alt="">
                    	<img src="http://www.imagineear.com/wp-content/uploads/2019/04/template-news-item-thumbnail-580x365.jpg" data-thumb="http://www.imagineear.com/wp-content/uploads/2019/04/template-news-item-thumbnail-580x365.jpg" alt="">
                    	<img src="https://news.mn/wp-content/uploads/2019/07/e54cc490-299b-46b2-ac2d-d85cbdf0d408-580x365.jpg" data-thumb="https://news.mn/wp-content/uploads/2019/07/e54cc490-299b-46b2-ac2d-d85cbdf0d408-580x365.jpg" alt="">
                </div>
              </div>
                <!--slider end-->
                <!--body top right start-->
                <div class="six columns nomar iphone">
                	<h3>Take advantage of the Rosemark System for your home care agency</h3>
                   	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio eu justo pellentesque aliquet et vel odio. Ut non ligula risus. </p>
                    <a class="button2" href="#">Get Demo</a>
                    <a class="button a-right" href="#">Get Quote</a>
                    <div class="video-cont">
                    	<div class="video-in">
                     <iframe src="https://drive.google.com/file/d/1V8Kkz28eWlPYRpV7TwQPXkmv3S0VPOX7/preview" allowfullscreen="allowfullscreen"
        mozallowfullscreen="mozallowfullscreen" 
        msallowfullscreen="msallowfullscreen" 
        oallowfullscreen="oallowfullscreen" 
        webkitallowfullscreen="webkitallowfullscreen" width="301" height="170"></iframe>
                        	
                        </div>
                    </div>
                    <p class="video-text"><strong>Video demonstration</strong>: How Rosemark grows your business</p>
                </div>
                <!--body top right end-->
            	<br class="spacer" />
            </div>
            </div>
            
           <hr /> 
        </div>
        <div class="sixteen columns" id="secondHeight">
        	<div class="features-cont">
            	<div class="acc-pan five columns alpha" id="featureLeft">
            	<ul class="htabs">
                	<li class="overview"><a href="#fragment-1"><span>Overview</span></a></li>
                	<li class="reporting"><a href="#fragment-2"><span>Custom Reporting</span></a></li>
                	<li class="mangement"><a href="#fragment-3"><span>Billing & QuickBooks™</span></a></li>
                	<li class="sharing"><a href="#fragment-4"><span>Payroll & QuickBooks™</span></a></li>
                	<li class="moderation"><a href="#fragment-5"><span>Electronic Visit Verification</span></a></li>
                    <li class="layers"><a href="#fragment-6"><span>Powerful Messaging Tools</span></a></li>
                    <li class="sharing"><a href="#fragment-7"><span>Client Management</span></a></li>
                    <li class="sharing"><a href="#fragment-8"><span>Caregiver Management</span></a></li>
                    <li class="sharing"><a href="#fragment-9"><span>HIPAA Compliant</span></a></li>
                    <li class="sharing"><a href="#fragment-10"><span>Marketing Tools</span></a></li>
                   
                </ul>
            </div>
            	<div class="tab-cont two-thirds column omega tabs" id="featureRight">
                	<h5 class="accordionButton2 on" id="tab-0"><span class="overview">Overview</span><span class="accArrow">&nbsp;</span></h5>
                	<div class="tab-item tab accordionContent2" style="display:block"  id="fragment-1">
                    	<h2>Software Solutions</h2>
                        <div class="tab-top"><div class="tabtext">
                            <p> Technology doesn't have to get in the way of daily workflow. Our software is refined by 30 years of continuous technological innovation and improvement. The result is a powerful-yet-practical tool that helps you take command of client care, stay informed of developments in the field, and respond to urgent situations—all in real time from virtually any device. </p>
                            <p>Rosemark is fully customizable and scalable. Whether you’re just getting your business off the ground or ready to expand, Rosemark  can be configured to meet your agency’s specific needs and budget. </p>
                        </div>
                        <div class="video-cont2"><div class="video-in">
                      <iframe width="301" height="170" src="https://www.youtube.com/embed/4iWYfjYhABw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                       <span> Feature demonstration</span>
                        </div>
                        <img src="https://www.luminultra.com/wp-content/uploads/2019_09_Soil_Blog-01-1-600x250.jpg" alt="" class="frame-border scale-with-grid">
                    </div>
                    </div>
                    <h5 class="accordionButton2" id="tab-1"><span class="reporting">Visual Reporting</span><span class="accArrow">&nbsp;</span></h5>
                    <div class="tab-item tab accordionContent2" style="display:none"  id="fragment-2">
                    	<h2>Solid Reliable Software</h2>
                        <div class="tab-top"><div class="tabtext">
                            <p>Technology doesn't have to get in the way of daily workflow. Our software is refined by 30 years of continuous technological innovation and improvement. The result is a powerful-yet-practical tool that helps you take command of client care, stay informed of developments in the field, and respond to urgent situations—all in real time from virtually any device. </p>
                            <p>Rosemark is fully customizable and scalable. Whether you’re just getting your business off the ground or ready to expand, Rosemark can be configured to meet your agency’s specific needs and budget. </p>
                        </div>
                        <div class="video-cont2"><div class="video-in">
                        	<iframe width="301" height="170" src="https://www.youtube.com/embed/4iWYfjYhABw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                       <span> Feature demonstration</span>
                        </div>
                        <img src="https://www.luminultra.com/wp-content/uploads/2019_09_Soil_Blog-01-1-600x250.jpg" alt="" class="frame-border">
                    </div>
                    </div>
                    <h5 class="accordionButton2" id="tab-2"><span class="mangement">Document Mangement</span><span class="accArrow">&nbsp;</span></h5>
                    <div class="tab-item tab accordionContent2" style="display:none"  id="fragment-3">
                    	<h2>Solid Reliable Software </h2>
                        <div class="tab-top"><div class="tabtext">
                           <p>Technology doesn't have to get in the way of daily workflow. Our software is refined by 30 years of continuous technological innovation and improvement. The result is a powerful-yet-practical tool that helps you take command of client care, stay informed of developments in the field, and respond to urgent situations—all in real time from virtually any device. </p>
                            <p>Rosemark is fully customizable and scalable. Whether you’re just getting your business off the ground or ready to expand, Rosemark can be configured to meet your agency’s specific needs and budget. </p>
                        </div>
                        <div class="video-cont2"><div class="video-in">
                        	<iframe width="301" height="170" src="https://www.youtube.com/embed/4iWYfjYhABw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                       <span> Feature demonstration</span>
                        </div>
                        <img src="https://www.luminultra.com/wp-content/uploads/2019_09_Soil_Blog-01-1-600x250.jpg" alt="" class="frame-border">
                    </div>
                    </div>
                    <h5 class="accordionButton2" id="tab-3"><span class="sharing">Document Sharing</span><span class="accArrow">&nbsp;</span></h5>
                    <div class="tab-item tab accordionContent2" style="display:none"  id="fragment-4">
               	    <h2>Solid Reliable Software </h2>
                        <div class="tab-top"><div class="tabtext">
                           <p>Technology doesn't have to get in the way of daily workflow. Our software is refined by 30 years of continuous technological innovation and improvement. The result is a powerful-yet-practical tool that helps you take command of client care, stay informed of developments in the field, and respond to urgent situations—all in real time from virtually any device. </p>
                            <p>Rosemark is fully customizable and scalable. Whether you’re just getting your business off the ground or ready to expand, Rosemark can be configured to meet your agency’s specific needs and budget. </p>
                        </div>
                        <div class="video-cont2"><div class="video-in">
                        	<iframe width="301" height="170" src="https://www.youtube.com/embed/4iWYfjYhABw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                       <span> Feature demonstration</span>
                        </div>
                        <img src="https://www.luminultra.com/wp-content/uploads/2019_09_Soil_Blog-01-1-600x250.jpg" alt="" class="frame-border">
                    </div>
                    </div>
                    <h5 class="accordionButton2" id="tab-4"><span class="moderation">Admin Moderation</span><span class="accArrow">&nbsp;</span></h5>
                    <div class="tab-item tab accordionContent2" style="display:none"  id="fragment-5">
                    	<h2>Solid Reliable Software </h2>
                        <div class="tab-top"><div class="tabtext">
                           <p>Technology doesn't have to get in the way of daily workflow. Our software is refined by 30 years of continuous technological innovation and improvement. The result is a powerful-yet-practical tool that helps you take command of client care, stay informed of developments in the field, and respond to urgent situations—all in real time from virtually any device. </p>
                            <p>Rosemark is fully customizable and scalable. Whether you’re just getting your business off the ground or ready to expand, Rosemark can be configured to meet your agency’s specific needs and budget. </p>
                        </div>
                        <div class="video-cont2"><div class="video-in">
                        	<iframe width="301" height="170" src="https://www.youtube.com/embed/4iWYfjYhABw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                       <span> Feature demonstration</span>
                        </div>
                        <img src="https://www.luminultra.com/wp-content/uploads/2019_09_Soil_Blog-01-1-600x250.jpg" alt="" class="frame-border">
                    </div>
                    </div>
                    <h5 class="accordionButton2" id="tab-5"><span class="layers">Social Layers</span><span class="accArrow">&nbsp;</span></h5>
                    <div class="tab-item tab accordionContent2" style="display:none"  id="fragment-6">
                    	<h2>Solid Reliable Software </h2>
                        <div class="tab-top"><div class="tabtext">
                          <p>Technology doesn't have to get in the way of daily workflow. Our software is refined by 30 years of continuous technological innovation and improvement. The result is a powerful-yet-practical tool that helps you take command of client care, stay informed of developments in the field, and respond to urgent situations—all in real time from virtually any device. </p>
                            <p>Rosemark is fully customizable and scalable. Whether you’re just getting your business off the ground or ready to expand, Rosemark can be configured to meet your agency’s specific needs and budget. </p>
                        </div>
                        <div class="video-cont2"><div class="video-in">
                        	<iframe width="301" height="170" src="https://www.youtube.com/embed/4iWYfjYhABw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                       <span> Feature demonstration</span>
                        </div>
                        <img src="https://www.luminultra.com/wp-content/uploads/2019_09_Soil_Blog-01-1-600x250.jpg" alt="" class="frame-border">
                    </div>
                    </div>
                       <h5 class="accordionButton2" id="tab-6"><span class="sharing">Document Sharing</span><span class="accArrow">&nbsp;</span></h5>
                    <div class="tab-item tab accordionContent2" style="display:none"  id="fragment-7">
               	    <h2>Solid Reliable Software </h2>
                        <div class="tab-top"><div class="tabtext">
                           <p>Technology doesn't have to get in the way of daily workflow. Our software is refined by 30 years of continuous technological innovation and improvement. The result is a powerful-yet-practical tool that helps you take command of client care, stay informed of developments in the field, and respond to urgent situations—all in real time from virtually any device. </p>
                            <p>Rosemark is fully customizable and scalable. Whether you’re just getting your business off the ground or ready to expand, Rosemark can be configured to meet your agency’s specific needs and budget. </p>
                        </div>
                        <div class="video-cont2"><div class="video-in">
                        	<iframe width="301" height="170" src="https://www.youtube.com/embed/4iWYfjYhABw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                       <span> Feature demonstration</span>
                        </div>
                        <img src="https://www.luminultra.com/wp-content/uploads/2019_09_Soil_Blog-01-1-600x250.jpg" alt="" class="frame-border">
                    </div>
                    </div>
                      <h5 class="accordionButton2" id="tab-7"><span class="sharing">Document Sharing</span><span class="accArrow">&nbsp;</span></h5>
                    <div class="tab-item tab accordionContent2" style="display:none"  id="fragment-8">
               	    <h2>Solid Reliable Software </h2>
                        <div class="tab-top"><div class="tabtext">
                           <p>Technology doesn't have to get in the way of daily workflow. Our software is refined by 30 years of continuous technological innovation and improvement. The result is a powerful-yet-practical tool that helps you take command of client care, stay informed of developments in the field, and respond to urgent situations—all in real time from virtually any device. </p>
                            <p>Rosemark is fully customizable and scalable. Whether you’re just getting your business off the ground or ready to expand, Rosemark can be configured to meet your agency’s specific needs and budget. </p>
                        </div>
                        <div class="video-cont2"><div class="video-in">
                        	<iframe width="301" height="170" src="https://www.youtube.com/embed/4iWYfjYhABw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                       <span> Feature demonstration</span>
                        </div>
                        <img src="https://www.luminultra.com/wp-content/uploads/2019_09_Soil_Blog-01-1-600x250.jpg" alt="" class="frame-border">
                    </div>
                    </div>
                      <h5 class="accordionButton2" id="tab-8"><span class="sharing">Document Sharing</span><span class="accArrow">&nbsp;</span></h5>
                    <div class="tab-item tab accordionContent2" style="display:none"  id="fragment-9">
               	    <h2>Solid Reliable Software </h2>
                        <div class="tab-top"><div class="tabtext">
                           <p>Technology doesn't have to get in the way of daily workflow. Our software is refined by 30 years of continuous technological innovation and improvement. The result is a powerful-yet-practical tool that helps you take command of client care, stay informed of developments in the field, and respond to urgent situations—all in real time from virtually any device. </p>
                            <p>Rosemark is fully customizable and scalable. Whether you’re just getting your business off the ground or ready to expand, Rosemark can be configured to meet your agency’s specific needs and budget. </p>
                        </div>
                        <div class="video-cont2"><div class="video-in">
                        	<iframe width="301" height="170" src="https://www.youtube.com/embed/4iWYfjYhABw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                       <span> Feature demonstration</span>
                        </div>
                        <img src="https://www.luminultra.com/wp-content/uploads/2019_09_Soil_Blog-01-1-600x250.jpg" alt="" class="frame-border">
                    </div>
                    </div>
                      <h5 class="accordionButton2" id="tab-9"><span class="sharing">Document Sharing</span><span class="accArrow">&nbsp;</span></h5>
                    <div class="tab-item tab accordionContent2" style="display:none"  id="fragment-10">
               	    <h2>Solid Reliable Software </h2>
                        <div class="tab-top"><div class="tabtext">
                           <p>Technology doesn't have to get in the way of daily workflow. Our software is refined by 30 years of continuous technological innovation and improvement. The result is a powerful-yet-practical tool that helps you take command of client care, stay informed of developments in the field, and respond to urgent situations—all in real time from virtually any device. </p>
                            <p>Rosemark is fully customizable and scalable. Whether you’re just getting your business off the ground or ready to expand, Rosemark can be configured to meet your agency’s specific needs and budget. </p>
                        </div>
                        <div class="video-cont2"><div class="video-in">
                        	<iframe width="301" height="170" src="https://www.youtube.com/embed/4iWYfjYhABw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                       <span> Feature demonstration</span>
                        </div>
                        <img src="https://www.luminultra.com/wp-content/uploads/2019_09_Soil_Blog-01-1-600x250.jpg" alt="" class="frame-border">
                    </div>
                    </div>
                </div>
            <br class="spacer" />
            </div>
            
        	<hr /> 
        </div>
        <!--Quickly Add Tabbed Sections start-->
        <div  class="sixteen columns" id="fourthHeight">
        	<h2>How we Make Rosemark Work for your Home Care Agency</h2>
            <div class="four columns remove-left lmar">
            	<div class="quick_cont">
                <h4>HOW IT WORKS</h4>
                    <ul>
                        <li><a href="#">Electronic Visit Verification (EVV) </a></li>
                        <li><a href="#">Invoicing</a></li>
                        <li><a href="#">Staff to Caregiver Messaging</a></li>
                        <li><a href="#">Audit Support</a></li>
                        <li><a href="#">Quickbooks Integration</a></li>
                        <li><a href="#">List specific things here</a></li>
                    </ul>
                </div>
                 <span class="quick_contBot">&nbsp;</span>
                <a href="#" class="button3">Get Started</a>
            </div>
            <div class="twelve columns nomar">
            	<!-- Accordion -->
		<div id="accordion">
			<div class="first-tab">
				<h3 class="right-gap"><a href="#">Cloud-Based</a></h3>
				<div>
                	<ul>
               	    	<li>
                        <div class="four columns alpha lmar image-cont">
                   	    	<img src="https://i.ibb.co/KNPqWzj/better-software-2.jpg" alt="" class="scale-with-grid">
                        </div>
                        <h4>Rosemark Scheduling System</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio eu justo pellentesque aliquet et vel odio. Ut non ligula risus. </p>
                      </li>
                     	<li>
                        <div class="four columns alpha lmar image-cont">
                   	    	<img src="https://i.ibb.co/KNPqWzj/better-software-2.jpg" alt="" class="scale-with-grid">
                        </div>
                        <h4>Rosemark WebApp</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio eu justo pellentesque aliquet et vel odio. Ut non ligula risus. </p>
                      </li>
                      	<li>
                        <div class="four columns alpha lmar image-cont">
                   	    	<img src="https://i.ibb.co/KNPqWzj/better-software-2.jpg" alt="" class="scale-with-grid">
                        </div>
                        <h4>Caregiver Mobile App</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio eu justo pellentesque aliquet et vel odio. Ut non ligula risus. </p>
                      </li>
                    </ul>
                </div>
			</div>
			<div>
				<h3 class="left-gap"><a href="#">Service & Support</a></h3>
				<div class="second-tab">
                	<ul>
               	    	<li>
                        <div class="four columns alpha lmar image-cont">
                   	    	<img src="https://i.ibb.co/1mjsx42/3.jpg" alt="" class="scale-with-grid">
                        </div>
                        <h4>24/7 Customer Care</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio eu justo pellentesque aliquet et vel odio. Ut non ligula risus. </p>
                      </li>
                     	<li>
                        <div class="four columns alpha lmar image-cont">
                   	    	<img src="https://i.ibb.co/1mjsx42/3.jpg" alt="" class="scale-with-grid">
                        </div>
                        <h4>Training and Webinars</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio eu justo pellentesque aliquet et vel odio. Ut non ligula risus. </p>
                      </li>
                      	<li>
                        <div class="four columns alpha lmar image-cont">
                   	    	<img src="https://i.ibb.co/1mjsx42/3.jpg" alt="" class="scale-with-grid">
                        </div>
                        <h4>Extensive User Guide</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio eu justo pellentesque aliquet et vel odio. Ut non ligula risus. </p>
                      </li>
                    </ul>
                </div>
			</div>
			
		</div>
            
            
            
            
            	<div class="grey-box">
                	<h2>Start growing your agency today with tools built by sane human beings, for sane human beings.</h2>
                    <a href="#" class="button2">Get Started</a>
                </div>
            </div>
        </div>
        <!--Quickly Add Tabbed Sections end-->
        
	</div><!-- container -->
    <!--footer start-->
    <div class="footer-cont">
    	<div class="container">
            <div class="sixteen columns">
                
                	<!--about cont start-->
                    <div class="six columns omega footerLine">
                    	<h2>About Us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio eu justo pellentesque aliquet et vel odio. Ut non ligula risus.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio eu justo pellentesque aliquet et vel odio. </p>
                    </div>
                    <!--about cont end-->
                
                    <!--links start-->
                    <div class="two columns company-cont leftPafFooter omega ">
                    	<h2>Rosemark</h2>
                        <ul>
                        	<li><a href="#">Your Partner</a></li>
                        	<li><a href="#">In PeopleCare </a></li>
                        	</a></li>
                        </ul>
                    </div>
                    <!--links end-->
                    <br class="spacer" />
              		<ul  class="footer-link">
                    	<li><a href="#">Privacy</a>|</li>
                    	<li><a href="#">Cookies</a>|</li>
                        <li>© Shoshana Technologies</a> All rights reserved. </li>
                    </ul>
                 
                    
                    <p class="backToTop">Top of page</p>
             </div>
    	</div>
    </div>
    <!--footer end-->
   <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
      <script src="js/jquery.fitvids.js"></script>


  

  <script defer src="js/general.js"></script>
  <script type="text/javascript" src="js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
		$('#slider').nivoSlider({
			controlNavThumbs:true
		});
	});
</script>
</body>
</html>